<%= provide(:title, "About") %>

<%= render 'partials/header' %>

<div class="wrapper">
	<div class="container">
		<div class="fixed">
			<div class="staticsidebar">
				<div class="staticsidebartitle">
					ABOUT
				</div>
				<div class="staticsidebarsubtitle">
					This is the about page where you can learn all about this super sweet, super serious brand I'm building.
				</div>
			</div>
		</div>
		<div class="staticcontent">
		…and I bet you’ll agree.

If you want to go on a date with someone, you have to ask them out.</br>

If you want to get a raise, you have to ask for a promotion.</br>

If you want to build your network, you have to be more social.</br>

And if you want to build an audience, you have to step onto the stage.</br>
</br>
Without action, no success.</br>

Now here’s the thing…</br>

The hard part isn’t knowing WHAT to do. The hard part is actually doing it. And that’s where confidence makes all the difference.</br>

Because when you lack of confidence, you don’t take action…</br>

You want to speak up in a large group. But you stay silent because you’re afraid to get shut down.</br>

You want to meet new people. But you’re too shy to start a conversation. Or you’re just worried that people will think you’re weird.</br>

And it’s a shame. Most people don’t do the things they want to do. Not because they don’t know how. Not because they’re not smart enough… but because they lack the confidence.</br>

It’s time to change that. And I have good news:</br>

With just a few simple hacks, you can build your confidence every day and reach level “unstoppable” too.

Confidence Leads to Action, Action Leads to Success

Confidence is like the granddaddy of all self-development…

When you’re confident you stop feeling self-conscious about your quirks.

When you’re confident you stop worrying about what everyone else thinks and stop second-guessing your decisions.

When you’re confident you can face your big fears. Whether it’s something specific like becoming better at public speaking…

…Or simply going ALL IN and following your dreams.

In short, confidence is the difference between thinking about doing something… and actually doing it. And that’s why it’s so important for success – in all areas of life.

Especially when it comes to business and selling. And even more so if you sell services, coaching, or online courses. And there’s science to back this up, too.

In particular, one study by Don Moore of Carnegie Mellon University shows that people are more likely “buy advice” from a more confident seller. The crazy part? It didn’t even matter if that seller had been wrong in the past.

So, if you want people to listen to you, take your advice, and ultimately buy from you, being confident is crucial.

But isn’t that just being a fake?

No…

Of course you shouldn’t pretend to know things you don’t know. You see, there’s a big difference between being confident and being an arrogant jerk…

What Does it Really Mean to Be Confident?

So what is self-confidence?

Some psychologist make a distinction between self-esteem and self-confidence. But for our practical purpose here, it’s not important. So I’ll just talk about self-confidence.</br>

Being confident means two things:</br>

You believe that you deserve to succeed
You trust in your abilities to succeed
When you have both of those things, you can act with confidence.</br>

As you can see from the definition, confidence arises from INTERNAL sources – your thoughts and beliefs – as well as EXTERNAL sources – your abilities and skills.

Thoughts + Skills = Confidence (= Success)</br>
</br>
And I’ll address both parts of that equation below.</br>

But first, let me point out the difference between confidence and arrogance. Because that’s where a lot of people get stuck…</br>

And here it is:</br>

Arrogant people brag about skills they don’t have, to get confirmation from others, because they lack belief in themselves.</br>

Whereas…</br>

Confident people let their actions speak for themselves, because they have the mindset and skills to succeed.

As you can see, being confident is not about bragging. It’s not what you say at all. It’s about how you see yourself and how you carry yourself. And then, as a result, how you’re being perceived by others.</br>

This is the FIRST thing you should remember, if you want to be more confident. And then you can stop humble-bragging, too…</br>

…which is a terrible habit. For TWO reasons:</br>

First, you’re still bragging.

Second, why are you trying to be so “humble” in the first place?

Just look at the def
		</div>
	</div>
</div>

<%= render 'partials/footer' %>