<%= provide(:title, "About") %>

<%= render 'partials/header' %>

<div class="wrapper">
	<div class="container">
		<div class="fixed">
			<div class="staticsidebar">
				<div class="staticsidebartitle">
					ABOUT
				</div>
				<div class="staticsidebarsubtitle">
					This is the about page where you can learn all about this super sweet, super serious brand I'm building.
				</div>
			</div>
		</div>
		<div class="staticcontent">
		
		</div>
	</div>
</div>

<%= render 'partials/footer' %>