<%= provide(:title, "Donate") %>

<%= render 'partials/header' %>

<div class="wrapper">
	<div class="container">
		<div class="fixed">
			<div class="staticsidebar">
				<div class="staticsidebartitle">
					DONATE
				</div>
				<div class="staticsidebarsubtitle">
					Don't donate you dummy. Get a tshirt. Most of the money spent on a shirt goes towards doing something cool for the environment.
				</div>
			</div>
		</div>
		<div class="staticcontent">
			Don't donate you dummy. Get a tshirt. Most of the money spent on a shirt goes towards doing something cool for the environment.
		</div>
	</div>
</div>

<%= render 'partials/footer' %>