<%= provide(:title, "Privacy Policy") %>

<%= render 'partials/header' %>

<div class="wrapper">
	<div class="container">
		<div class="fixed">
			<div class="staticsidebar">
				<div class="staticsidebartitle">
					PRIVACY POLICY
				</div>
				<div class="staticsidebarsubtitle">
					If you like privacy, which I'm going to assume you do, then this page is for you. Much, much privacy happening here.
				</div>
			</div>
		</div>
		<div class="staticcontent">
		
		</div>
	</div>
</div>

<%= render 'partials/footer' %>