<%= provide(:title, "Terms of Use") %>

<%= render 'partials/header' %>

<div class="wrapper">
	<div class="container">
		<div class="fixed">
			<div class="staticsidebar">
				<div class="staticsidebartitle">
					TERMS OF USE
				</div>
				<div class="staticsidebarsubtitle">
					This is the super stupid, almost-never-read Terms of Use page. Some very important stuff goes on this page, but nobody reads it anyway.
				</div>
			</div>
		</div>
		<div class="staticcontent">
		
		</div>
	</div>
</div>

<%= render 'partials/footer' %>